<div class="wrap">
  <div class="nav-wrap">
    <div class="trump-face">
      {{#link-to 'index'}}<img class="logo" src="img/trumpdreams-logo.png" alt="TRUMPdreams Logo">{{/link-to}}
    </div>
    <div class="trump-dreams">
      <h1>TRUMP<span class="dreams">dreams</span></h1>
    </div>
  </div>
  <div class="body-wrap">    
    {{outlet}}
  </div>
</div>
